@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@font-face {font-family: "Geom Graphic";
  src: url("../fonts/Geom\ Graphic\ W03\ Bold.ttf");}

:root {
  --azul-primario: #1c204a;
  --azul-secundario: #24315e;
  --blanco-primario: #fbfbfb;
  --color-cajatexto: #405088;
  --color-boton: #295fa6;
  --color-enlace: #5cd1fa;
  --div-height: 58px;
  --fondo-primario: #fbfbfb;
  --fondo-secundario: #fbfbfb;
  --color-panelizq: rgba(184, 183, 231, 60%);
  --color-titulo: #296ca9;
  --color-letra: #2d4b65;
  --color-enlaceclaro: #395ede;
  --letra-pequeña:10px;
  --letra-mediana:16px;
  --letra-grande:20px;
}
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100vh;
  /* background: var(--azul-primario); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 100%;
  height: calc(100vh - 116px);
  display: flex;
  flex-flow: row nowrap;
  /* background: var(--azul-secundario); */
  box-shadow: 5px 5px 10px rgba(77, 72, 72, 0.25);
  --margen: 9.0625%;
  margin: calc(var(--margen) / 2);
}

.contenedor .panel-der {
  background: url(../img/Chef-en-Australia.jpg) center center no-repeat;
  background-size: cover;
  width: 50%;
}

.contenedor .panel-der .cabecera{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.contenedor .panel-der .contenido {
  /* background: rgba(36, 49, 94, 72%); */
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.contenedor .panel-der #imagenlogo {
  background: url(../img/logo-tema-claro.png) no-repeat center;
  background-size: contain;
  width: 180px;
  height: 180px;
  
}

.contenedor .panel-izq {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  overflow-y: auto;
}

.contenedor #bdark {
  background: url(../img/sun.png) no-repeat,whitesmoke;
  background-position:12px 5px;
  background-size: 28px;
  border: 1px solid rgb(0, 0, 0,15%);
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100% ;
  top: 0;
  right: 0;
  width: 48px;
  height: 50px;
  position: absolute;
}

.contenedor .panel-der h1 {
  font-family: "Geom Graphic";
  font-size: 50px;
  text-align: center;
}

.contenedor .titulo {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  margin: 0 42px 0 42px;
}

.contenedor .redes-sociales {
    width: 100%;
    gap: 50px;
    font-size: 60px;
    display: flex;
    justify-content: center;  
}

.contenedor .redes-sociales .bxl-facebook-square:hover {
  background: #3b5998;
}
.contenedor .redes-sociales .bxl-youtube:hover {
  background: #c4302b;
}
.contenedor .redes-sociales .bxl-twitter:hover {
  background: #00acee;
}

.contenedor .panel-izq h1 {
  font-size: 30px;
  margin-top: 11px;
  text-align: center;
}

.contenedor .panel-izq h2 {
  font-size: 40px;
  margin-top: 11px;
  text-align: center;
}
.contenedor .panel-izq form h2 {
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contenedor .panel-izq form img {
  align-self: center;
}
.contenedor .panel-izq form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 50px 30px 50px;
}

.contenedor .panel-izq form .registro{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.contenedor .panel-izq form label {
  margin-top: 5px;
  font-size: 20px;
}
.contenedor .panel-izq form input[type="submit"] {
  margin-top: 11px;
  margin-bottom: 13.2px;
  width: 100%;
  /* color:var(--blanco-secundario); */
  font-size: 28px;
  /* background:var(--color-boton); */
  border: none;
}
.contenedor .panel-izq form input[type="submit"]:hover {
  cursor: pointer;
  background: #348abb;
}
.contenedor .panel-izq form .recordar {
  margin-top: 10px;
}
.contenedor .panel-izq form input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
  margin-bottom: 5px;
}

.contenedor .panel-izq form .boton {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contenedor .panel-izq .cajapeq{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.contenedor .panel-izq .cajapeq span{
  display: flex;
  flex-direction:column;
}

.contenedor .panel-izq form p {
  /* margin-top: 8px; */
  text-decoration: none;
  /* font-size: 20px; */
  /* color:var(--blanco-secundario); */
  text-align: center;
}

.contenedor .panel-izq form p a {
  margin-top: 8px;
  text-decoration: underline;
  /* color:var(--color-enlace); */
  text-align: center;
}

.contenedor .panel-izq .enlace-contrasenia{
  text-decoration: none;
}
.contenedor .panel-izq .enlace-contrasenia:hover{
  text-decoration: underline;
}

body {
  background: var(--fondo-primario);
}

.contenedor h1 {
  color: var(--color-titulo);
}

.contenedor {
  background: var(--fondo-secundario);
}

.contenedor .panel-der .contenido {
  background: var(--color-panelizq);
}

.contenedor .redes-sociales a:link,
.contenedor .redes-sociales a:visited {
  color: var(--color-letra);
}

.contenedor .panel-izq form input[type="submit"] {
  color: var(--blanco-primario);
  background: var(--color-boton);
}

.contenedor .panel-izq form p {
  color: var(--color-letra);
}
.contenedor .panel-izq form p a {
  color: var(--color-enlaceclaro);
}

.contenedor .panel-izq .cajaicono {
  background: rgba(4, 3, 61, 8%);
  border: hsl(0, 0%, 86%) 1px solid;
  border-right: none;
  /* border-radius: 5px; */
}

.contenedor .panel-izq .cajatexto {
  padding: 5px;
  font-size: 18px;
  width: 100%;  
  border: 1px solid rgb(0, 0, 0,15%);
  /* padding-right: 16px; */
}

.contenedor .panel-izq .cajatexto:focus {
  box-shadow: 5px 5px 10px rgba(77, 72, 72, 2%); 

  /* padding-right: 16px; */
}

.contenedor .panel-izq #sexo {
  font-size: 16px;
  width: 120px;
  height: 35px;
  background: white; 
  border: 1px solid rgb(0, 0, 0,15%);
}



.contenedor .field {
  margin-bottom: 24px;
}

.contenedor .portada {
  /* display: none; */
}

body.darkmode {
  color: white;
  background: var(--azul-primario);
}

.darkmode .contenedor {
  background: var(--azul-secundario);
  box-shadow: none;
}

.darkmode .contenedor h1 {
  color: var(--blanco-primario);
}

.darkmode .contenedor .panel-der #imagenlogo {
  background: url(../img/logo-tema-oscuro.png) no-repeat center;
  background-size: 152px;
}

.darkmode .contenedor .panel-der .contenido {
  background: rgba(36, 49, 94, 72%);
}

.darkmode .contenedor .panel-izq form input[type="submit"]:hover {
  cursor: pointer;
  background: #348abb;
}

.darkmode .contenedor .panel-izq .cajatexto::placeholder{
  color:whitesmoke;
}

.darkmode .contenedor .redes-sociales a:link,
.darkmode .contenedor .redes-sociales a:visited {
  color: var(--blanco-primario);
}

.darkmode .contenedor .panel-izq .cajatexto {
  background: var(--color-cajatexto);
  color: rgb(233, 233, 233);
}

.darkmode .contenedor .panel-izq #sexo {
  background: var(--color-cajatexto);
  color: rgb(233, 233, 233);
}

.darkmode .contenedor .panel-izq .cajaicono {
  background: var(--azul-primario);
}

.darkmode .contenedor .panel-izq form input[type="submit"] {
  color: var(--blanco-primario);
  background: var(--color-boton);
}

.darkmode .contenedor .panel-izq form p {
  color: var(--blanco-primario);
}
.darkmode .contenedor .panel-izq form p a {
  color: var(--color-enlace);
}

.darkmode .contenedor #bdark {
  background: url(../img/moon.png) no-repeat,var(--color-cajatexto);
  background-position:12px 5px;
  background-size: 28px;
}

/* .contenedor .panel-izq form input[type="text"],
.contenedor .panel-izq form input[type="password"]
{
    font-size:18px ;
} */
/* .contenedor .panel-izq form i{
    margin-top: 0.5rem;
    font-size: 2.2rem;
} */
/* Laptops */
@media screen and (max-width: 1200px){
  .contenedor .panel-izq .cajatexto {
    padding: 5px;
    font-size: 16px;  
    border: 1px solid rgb(0, 0, 0,15%);
    /* padding-right: 16px; */
  }
  .contenedor .panel-izq form label {
    font-size: 18px;
  }
  .contenedor .panel-izq .cajapeq{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}


@media screen and (max-width: 992px){


  .contenedor .panel-izq form{
    padding: 30px;
  }

  .contenedor .panel-der #imagenlogo{
    background-size: 120px;
    width: 120px;
    height: 120px;
  }

  .darkmode .contenedor .panel-der #imagenlogo{
    background-size: 90px;
    width: 120px;
    height: 120px;
  }
  .contenedor .titulo{
    font-size: 20px;
  }
  .contenedor h1{
    font-size: 40px;
  }
  .contenedor .panelder h1 {
  
    font-size: 30px;
    margin-top: 11px;
    text-align: center;
  }
  .contenedor .panel-izq h2 {
    font-size: 25px;
    margin-top: 15px;    
  }
  .contenedor .panel-izq form h2 {
    font-size: 20px;
    margin-top: 30px;    
    margin-bottom: 10px;
  }
  .contenedor .panel-izq #sexo{
    width: auto;
  }
}


@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 600px){
  body{
    align-items: flex-start;
    height: 100vh;
  }
  .contenedor .panel-izq{
    
  }
  .contenedor{
    
    width: 100%;
    height: auto;
    /* height: auto; */
    margin: 0;
  }


  .contenedor .portada{    
    background: url(../img/Logo_ega.jpeg) no-repeat center;
    background-size: 90px;
    width: 120px;
    height: 120px;
    margin-top: 0;
    display: flex;
  }
  .darkmode .contenedor .portada{    
    background: url(../img/Logo_ega.jpeg) no-repeat center;
    background-size: 90px;
    width: 120px;
    height: 120px;
    margin-top: 0;
  }

  .contenedor .panel-der {
    display: none;
    width: 0%;
  }
  .contenedor .panel-izq {
    padding: 50px 0px 0px 0;
    height: 100%;
    position: relative;
    width:100%;
  }

  .contenedor .panel-izq form{
    padding: 0px 20px 20px 20px;
  }
  .contenedor .panel-izq form .recordar {
    margin-top: 0;
  }
  .contenedor .panel-izq form p{
    margin-top: 0;
  }
  .contenedor .panel-izq form label{
    font-size: 16px;
  }
  .contenedor .panel-izq form input[type="submit"]{
    font-size: 20px;
  }
  .contenedor .panel-izq form p{
    font-size: 16px;
  }
  .contenedor .panel-izq form h1{
    font-size: 30px;
  }
  .contenedor .panel-izq{
    padding: 10px 0 0 0;
  }
  .contenedor .panel-izq .cajatexto {
    font-size: 16px;
  }
  .control.has-icons-left .input.is-medium ~ .icon, .control.has-icons-left .select.is-medium ~ .icon, .control.has-icons-right .input.is-medium ~ .icon, .control.has-icons-right .select.is-medium ~ .icon{
    font-size:16px;
  }
  .contenedor .panel-izq h2 {
    font-size: 25px;
    margin-top: 15px;    
  }
  .contenedor .panel-izq form h2 {
    font-size: 20px;
    margin-top: 30px;    
    margin-bottom: 10px;
  }
}
