@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@font-face {font-family: "Geom Graphic"; src: url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.eot"); src: url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.woff") format("woff"), url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/dcd6ec2b9b1dce4fc1d8b56c504404a8.svg#Geom Graphic") format("svg"); } 

:root{
    --azul-primario:#1C204A;
    --azul-secundario:#24315E;
    --blanco-primario:#FBFBFB;
    --color-cajatexto:#405088;
    --color-boton:#295FA6;
    --color-enlace:#5CD1FA;
    --div-height:58px;
    --fondo-primario:rgba(37,166,217,22%);
    --fondo-secundario:#FBFBFB;
    --color-panelizq:rgba(242, 242, 242, 80%);
    --color-titulo:#296CA9;
    --color-letra:#2D4B65;
    --color-enlaceclaro:#395EDE;
}
html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* color: white; */
    width: 100%;
    height: 100vh;
    /* background: var(--azul-primario); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 100%;
    height: calc(100vh - 7.25rem);
    display: flex;
    flex-flow: row nowrap;
    /* background: var(--azul-secundario); */
    --margen:9.0625%;
    margin: calc(var(--margen)/2);
}

.contenedor .panel-izq{
    background: url(/imagenes/Chef-en-Australia.jpg) center center no-repeat;
    background-size:cover;
    width: 50%;
    
}

.contenedor .panel-izq .contenido{
    /* background: rgba(36, 49, 94, 72%); */
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 7.25rem);
}

.contenedor #bdark{
    width: 3rem;
    align-self:flex-end;
    position: absolute;
    margin-top: 1rem;
    margin-right: 1rem;
}

.contenedor .panel-der{
    display: flex;
    justify-content:center;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
}

.contenedor .panel-izq #imagenlogo{
    background: url(/imagenes/logo-tema-claro.png) no-repeat center;
    background-size: 11rem ;
    width: 11rem;
    height: 11rem;
    margin-top: 5rem;
}

.contenedor h1{
    font-family: "Geom Graphic";
    font-size: 3.5rem;
    margin-top: .6875rem;
}

.contenedor .titulo{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-top: 4rem;
    margin-left:2.625rem;
    margin-right:2.625rem ;
}

.contenedor .redes-sociales{
    text-decoration: none;
    margin-top: 6rem;
    font-size: 3.5em;
    margin-bottom: 0;
}

.contenedor .redes-sociales .bxl-facebook-square:hover{
    background:#3b5998;
}
.contenedor .redes-sociales .bxl-youtube:hover{
    background:#c4302b;
}
.contenedor .redes-sociales .bxl-twitter:hover{
    background:#00acee;
}



.contenedor .panel-der form h1{
    margin-bottom: 1.3125rem;
    font-size: 3em;
}

.contenedor .panel-der form{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 8.375rem;
}

.contenedor .panel-der form label{
    font-size: 1.5rem;
}
.contenedor .panel-der form input[type="submit"]{
    margin-top: .6875rem;
    margin-bottom: .825rem;
    width: 100%;
    /* color:var(--blanco-secundario); */
    font-size: 2rem;
    /* background:var(--color-boton); */
    border:none;
}

.contenedor .panel-der form input[type="submit"]:hover{
    cursor:pointer;
    background:#348abb;
}


.contenedor .panel-der form .recordar{
    margin-top: 3.25rem;
}
.contenedor .panel-der form input[type="checkbox"]{
    transform: scale(1.5);  
    vertical-align:middle;;  
    margin-bottom: 5px;
}



.contenedor .panel-der form .boton{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.contenedor .panel-der form p {
    margin-top: .50rem;
    text-decoration: none;
    font-size: 1.5rem;
    /* color:var(--blanco-secundario); */
    text-align: center;
}

.contenedor .panel-der form p a{
    margin-top: .50rem;
    text-decoration:underline;
    /* color:var(--color-enlace); */
    text-align: center;
}

body{
    background:var(--fondo-primario);
}

.contenedor h1{
    color:var(--color-titulo);
}

.contenedor{
    background: var(--fondo-secundario);
}

.contenedor .panel-izq .contenido{
    background:var(--color-panelizq);
}

.contenedor .redes-sociales a:link,.contenedor .redes-sociales a:visited{
    color: var(--color-letra);
}

.contenedor .panel-der form input[type="submit"]{
    color:var(--blanco-primario);
    background:var(--color-boton);
}

.contenedor .panel-der form p{
    color: var(--color-letra);
}
.contenedor .panel-der form p a{
    color:var(--color-enlaceclaro);
}

.contenedor .panel-der .cajaicono{
    background: rgba(4,3,61,8%);
    border:hsl(0, 0%, 86%) 1px solid;
    border-right: none;
    border-radius: .3125rem;
}

.contenedor .panel-der .cajatexto{
    padding-left: 4.2rem;
    padding-right: 1rem;
}

.contenedor .field{
    margin-bottom: 1.5rem;
}

body.darkmode{
    color:white;
    background: var(--azul-primario);
}

.darkmode .contenedor{
    background: var(--azul-secundario);
}

.darkmode .contenedor h1{
    color:var(--blanco-primario);
}

.darkmode .contenedor .panel-izq #imagenlogo{
    background: url(/imagenes/logo-tema-oscuro.png) no-repeat center;
    background-size: 9.5rem;
}

.darkmode .contenedor .panel-izq .contenido{
    background: rgba(36, 49, 94, 72%);
}

.darkmode .contenedor .panel-der form input[type="submit"]:hover{
    cursor:pointer;
    background:#348abb;
}

.darkmode .contenedor .redes-sociales a:link,.contenedor .redes-sociales a:visited{
    color: var(--blanco-primario);
}

.darkmode .contenedor .panel-der .cajatexto{
    background: var(--color-cajatexto);
    color: var(--blanco-primario);
}

.darkmode .contenedor .panel-der .cajaicono{
    background: var(--azul-primario);
}

.darkmode .contenedor .panel-der form input[type="submit"]{
    color:var(--blanco-primario);
    background:var(--color-boton);
}

.darkmode .contenedor .panel-der form p{
    color:var(--blanco-primario);
}
.darkmode .contenedor .panel-der form p a{
    color:var(--color-enlace);
}




/* .contenedor .panel-der form input[type="text"],
.contenedor .panel-der form input[type="password"]
{
    font-size:18px ;
} */
/* .contenedor .panel-der form i{
    margin-top: 0.5rem;
    font-size: 2.2rem;
} */






